body{
    background-color: rgb(0, 128, 109);
}
h1{
    font-family: "Playwright BE WAL Guides",cursive;
    font-style: italic;
}
.playwright-be-wal-guides{
    font-family: "Playwright BE WAL Guides",cursive;
    font-weight: 400;
    font-style: normal;
}